@import "tailwindcss";

@theme {
    --font-sans: "Open Sans", sans-serif;

    --color-app-header-dark: #213249;
    --color-app-body-dark: #1B232F;
    --color-app-text-dark: #F6F7F9;
    --color-app-button-dark: #6FD8C6;

    --color-app-success: #16A34A;
    --color-app-warning: #F59E0B;
    --color-app-danger:  #DC2626;
}

@layer base {
    * {
        @apply font-sans;
    }
}

@layer components {
    .btn {
        @apply rounded hover:cursor-pointer;
    }

    .btn-primary {
        @apply bg-app-button-dark text-app-body-dark hover:bg-app-button-dark/60;
    }

    .btn-danger {
        @apply bg-app-danger text-app-text-dark hover:bg-app-danger/60;
    }

    .btn-success {
        @apply bg-app-success text-app-text-dark hover:bg-app-success/60;
    }

    .link {
        @apply text-app-text-dark underline hover:text-app-text-dark/60 hover:cursor-pointer;
    }
}